ol#instructions {
  margin-left: 0;
}
ol#instructions > li {
  border-bottom: 1px solid #EEE;
  list-style-type: none;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.content dl {
  display: grid;
}
.content dl dd {
  margin: 0;
  margin-inline-start: 0;
  grid-column-start: 2;
  text-align: right;
}

#recipe h3 {
  border-bottom: 1px solid hsl(217, 71%, 29%);
  padding-bottom: 0.5em;
}

.has-background-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 8em;
}